[run]
branch = True
omit =
    */test/*
    */tests/*
    */__main__.py
    mantidimaging/main.py
    mantidimaging/ipython.py
    mantidimaging/test_helpers/*
source =
    mantidimaging

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if tests never check a lack of Import as they should always be present in tests
    except ImportError:

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    if TYPE_CHECKING: