name: mantidimaging-nightly
channels:
  - mantidimaging/label/unstable
  - astra-toolbox
  - conda-forge
  - ccpi
  - algotom
  - intel
# Dependencies that can be installed with conda should be in conda/meta.yaml
dependencies:
  - mantidimaging>=2.5.0
  - conda-forge::numexpr # https://github.com/mantidproject/mantidimaging/issues/1774
