name: mantidimaging
channels:
  - mantid/label/main
  - dtasev
  - astra-toolbox/label/dev
  - conda-forge
  - ccpi
  - algotom
  - intel
# Dependencies that can be installed with conda should be in conda/meta.yaml
dependencies:
  - mantidimaging>=2.3.0,<2.4.0
  - pip
  - pip:
      - pyqt5==5.15
      - pyqtgraph>=0.12.1,<0.13
      - jenkspy==0.2.0
