name: mantidimaging-dev
channels:
  - mantid/label/unstable
  - dtasev
  - astra-toolbox/label/dev
  - conda-forge
  - ccpi
  - defaults
dependencies:
  - mantidimaging
  - pip
  - pip:
      # For running
      - pyqt5==5.15
      - pyqtgraph>=0.12.1,<0.13
      - jenkspy==0.2.0
      # For developement
      - pytest==6.2.1
      - pytest-cov==2.10.1
      - coveralls==2.2.0
      - yapf==0.30.0
      - mypy==0.790
      - flake8==3.8.4
      - testfixtures==6.17.0
      - coverage==5.3
      - gitpython==3.1.11
      - pylint==2.6.0
      - sphinx==3.3.1
      - git+https://github.com/samtygier-stfc/sphinx-multiversion.git@prebuild_command
      - pytest-randomly==3.5.0
      - pytest-xdist==2.2.0
      - pytest-repeat==0.9.1
      - isort==5.6.4
      - eyes-images==4.20.*
      - parameterized==0.8.1
      - pre-commit
