name: mantidimaging-nightly
channels:
  - mantid/label/unstable
  - dtasev
  - astra-toolbox/label/dev
  - conda-forge
  - defaults
# Dependencies that can be installed with conda should be in conda/meta.yaml
dependencies:
  - mantidimaging==2.1.0
  - pip
  - pip:
      - pyqt5==5.15
      - pyqtgraph==0.11
      - jenkspy==0.2.0
