[tool.ruff]
line-length = 120
target-version = "py310"

[tool.ruff.lint]
select = ["F", "E", "W", "UP", "B", "C4", "FA", "NPY", "INP"]
fixable = ["UP"]
ignore = ["UP014"]

[tool.ruff.lint.per-file-ignores]
"!mantidimaging/**.py" = ["INP"]

[tool.pyright]
typeCheckingMode = "basic"
reportMissingImports = false
pythonVersion = "3.12"
include = ["mantidimaging/**/*.py"]
exclude =  ["tests/**/*.py", "test/**/*.py", "**/*test.py"]
reportMissingTypeStubs = false
reportAttributeAccessIssue = false
reportOptionalCall = false
reportOptionalMemberAccess = false
reportCallIssue = false
reportArgumentType = false
reportIndexIssue = false
