docutils~=0.21.2
sphinx~=8.2.3
numpy~=1.26.4
pandas~=2.3.3
mantidimaging~=3.1.0b1
tqdm~=4.67.3
tifffile~=2023.7.18
ruamel-yaml~=0.19.1
setuptools~=82.0.0
pyinstaller~=6.14.2
imagecodecs~=2023.9.18
pytest~=7.4.4
pyqt6~=6.11.0
pyqt6-sip~=13.11.1
parameterized~=0.9.0
pyqtgraph~=0.13.7
pillow~=10.4.0
scikit-image~=0.25.2
jenkspy~=0.4.1
imageio~=2.33.1
yaml~=0.2.5
pyyaml~=6.0.3
cil~=25.0.0
astropy~=7.1.1
h5py~=3.13.0
testfixtures~=7.2.2
cupy~=12.3.0
scipy~=1.14.1
requests~=2.32.5
packaging~=26.0
psutil~=5.9.8
tomopy~=1.12.2
algotom~=1.6.0
darkdetect~=0.8.0
pyfakefs~=5.3.5