name: Testing with conda

on:
  push:
    branches:
    - 'main'
    - 'release-*'
  pull_request:
    branches:
      - 'main'
      - 'release-*'
  release:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Check License Lines
        uses: kt3k/license_checker@v1.0.3

      - name: Setup Mambaforge
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          miniforge-version: latest
          miniforge-variant: Mambaforge
          environment-file: environment-dev.yml
          activate-environment: mantidimaging-dev
          auto-activate-base: false

      - name: Mantid Imaging developer dependencies
        shell: bash -l {0}
        run: |
          conda deactivate
          python3 ./setup.py create_dev_env

      - name: Other dependencies
        shell: bash -l {0}
        run: |
          sudo apt update -y
          sudo apt-get install -y xvfb libxcb* libxkb*

      - name: List versions
        shell: bash -l {0}
        run: |
          python --version; conda list ; pip list
#
#      - name: Yapf
#        shell: bash -l {0}
#        run: |
#          yapf --parallel --diff --recursive .
#
#      - name: Flake8
#        shell: bash -l {0}
#        run: |
#          python -m flake8
#
#      - name: mypy
#        shell: bash -l {0}
#        # COMPAT: applitools has some bad signatures, so use --no-site-packages
#        run: |
#          mypy --ignore-missing-imports --no-site-packages mantidimaging

      - name: pytest
        timeout-minutes: 5
        shell: bash -l {0}
        run: |
          xvfb-run --auto-servernum python -m pytest --cov --cov-report=xml --ignore=mantidimaging/eyes_tests

#      - name: docs
#        shell: bash -l {0}
#        run: |
#          python setup.py docs

#      - name: Get test data
#        shell: bash -l {0}
#        run: |
#          wget -nv https://github.com/mantidproject/mantidimaging-data/archive/refs/heads/main.zip
#          unzip -q main.zip -d ~
#          mv ~/mantidimaging-data-main ~/mantidimaging-data
#        timeout-minutes: 5
#
#      - name: GUI Tests System
#        shell: bash -l {0}
#        run: |
#          xvfb-run --auto-servernum python -m pytest -vs -rs -p no:xdist -p no:randomly -p no:repeat -p no:cov --run-system-tests
#        timeout-minutes: 15
#
#      - name: GUI Tests Screenshots Applitools
#        if: github.event_name == 'pull_request'
#        shell: bash -l {0}
#        env:
#          APPLITOOLS_API_KEY: ${{ secrets.APPLITOOLS_API_KEY }}
#          APPLITOOLS_BATCH_ID: ${{ github.sha }}
#          GITHUB_BRANCH_NAME: ${{ github.head_ref }}
#        run: |
#          xvfb-run --auto-servernum python -m pytest -vs -rs -p no:xdist -p no:randomly -p no:repeat -p no:cov mantidimaging/eyes_tests
#        timeout-minutes: 15
#
#      - name: Coveralls
#        shell: bash -l {0}
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        continue-on-error: true
#        run: |
#          coveralls
#
#      # Always label as unstable. Builds of stable releases can be manually labeled to 'main' once tested
#      - name: publish 'unstable' package
#        if: github.event_name == 'release' || (github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release')))
#        uses: ./.github/actions/publish-package
#        with:
#          label: unstable
#          token: ${{ secrets.ANACONDA_API_TOKEN }}
#
#      - name: publish docs
#        if: github.ref == 'refs/heads/main'
#        uses: ./.github/actions/publish-docs
#        with:
#          token: ${{ secrets.GHPAGES_API_TOKEN }}
