name: Build docs

on:
  push:
    branches:
    - 'main'
    - 'release-*'
  pull_request:
  release:
  merge_group:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get Date
        id: get-date
        run: |
          echo "date=$(/bin/date -u "+%Y%V")" >> $GITHUB_OUTPUT
        shell: bash

      - name: Cache Miniforge and Pip packages
        uses: actions/cache@v4
        env:
          CACHE_NUMBER: 0
        with:
          path: |
            ~/conda_pkgs_dir
            ~/.cache/pip
          key:
            ${{runner.os}}-condapkg-${{env.CACHE_NUMBER}}-${{steps.get-date.outputs.date}}-${{hashFiles('environment-dev.yml','conda/meta.yaml')}}

      - name: Setup Miniforge
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          activate-environment: mantidimaging-dev
          auto-activate-base: false
          use-mamba: true

      - name: Cache Miniforge environment
        uses: actions/cache@v4
        id: cache-miniforge-environment
        env:
          CACHE_NUMBER: 0
        with:
          path: ~/miniconda3/envs/mantidimaging-dev
          key:
            ${{runner.os}}-condaenv-${{env.CACHE_NUMBER}}-${{steps.get-date.outputs.date}}-${{hashFiles('environment-dev.yml','conda/meta.yaml', 'setup.py')}}

      - name: Mantid Imaging developer dependencies
        if: steps.cache-miniforge-environment.outputs.cache-hit != 'true'
        shell: bash -l {0}
        run: |
          conda deactivate
          python3 ./setup.py create_dev_env

      - name: docs
        shell: bash -l {0}
        run: |
          make build-docs
        env:
          QT_QPA_PLATFORM: offscreen

      - name: publish docs
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: ./.github/actions/publish-docs
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: publish docs release
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/heads/release')
        uses: ./.github/actions/publish-docs
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          dir_name: ${{ github.ref_name }}

      - name: Show disk space at end
        if: ${{ !cancelled() }}
        run: |
          df -h
        shell: bash
