# This is a basic workflow to help you get started with Actions

name: Testing with Ubuntu 18 docker

on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "test"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Check License Lines
      uses: kt3k/license_checker@v1.0.3

    - name: Pre-load docker image
      run: docker pull mantidproject/mantidimaging:latest

    - name: yapf
      uses: ./.github/actions/test
      with:
        command: yapf --parallel --diff --recursive .

    - name: flake8
      uses: ./.github/actions/test
      with:
        command: flake8

    - name: mypy
      uses: ./.github/actions/test
      with:
        command: mypy --ignore-missing-imports mantidimaging

    - name: docs
      uses: ./.github/actions/test
      with:
        command: python setup.py docs

    - name: pytest
      uses: ./.github/actions/test
      with:
        command: xvfb-run pytest -n auto --count 10
